#about{
  min-height: 90vh;
  padding:5rem 10vw;
  background: white;

  h1{
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 2rem;
  }

  h3{
    font-size: 20px;
    font-weight: 400;
    color: gray;
    margin-bottom: 4rem;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);

    .item{
      margin-right: .5rem;
      h2{
        font-weight: 400;
        margin-bottom: 2rem;
      }
  
      h5{
        color: grey;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        width: 85%;
      }
  
      img{
        margin-bottom: 2rem;
      }
    }
  }
}

// large computers

@media(min-width:1920px){
  #about{
    padding:5rem 13vw;
    min-height: 70vh;
  }
}

// tablets 

@media(min-width:700px) and (max-width:1024px)
{
  #about{
    .container{
      grid-template-columns: repeat(2 , 1fr);
      gap:1rem;
      .item{
        flex-direction: column;
        align-items: center;
        text-align: center;

        h5{
          width: 100%;
        }
      }
    }
  }
}

// mobile devices

@media(min-width:281px) and (max-width:680px)
{
  #about{
    padding:5rem 5vw;
    h1,h3{
      text-align: center;
    }

    h1{
      font-size: 25px;
    }

    h3{
      font-size: 16px;
      margin-bottom: 2rem;
    }

    .container{
      grid-template-columns: repeat(1 , 1fr);

      .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
        margin-right:0px;
      }
    }
  }
}

// Galaxy fold

@media(max-width:280px)
{

}