footer{
  background:$blue;
  padding:3rem 10vw;
  display: flex;
  justify-content: space-between;

  .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    h6{
      color:grey;
      font-size: 15px;
      font-weight: 400;
    }

    button{
      background:linear-gradient(to left , $cyan , $green );
      border-radius: 50px;
      border:none;
      color:white;
      padding:.75rem 1.5rem;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 1rem;
      position: relative;

      &::before{
        content:"";
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom: 0px;
        opacity: 0;
        background:rgba(255,255,255, 0.25);
        border-radius: 50px;
        transition: .4s;
      }

      &:hover::before{
        opacity: 1;
      }
    }
  }

  .container{
    display: flex;
    justify-content: space-between;
    width:50%;

    .list1 , .list2{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a{
        text-decoration: none;
        color:white;
        font-weight: 300;
        transition: .4s;

        &:hover{
          color:$green;
        }
      }
    }

    .logo{
      &>img{
        margin-bottom: 3rem;
      }
  
      div{
        img{
          margin-right: 1rem;
          cursor: pointer;

          
        }
      }
    }
  }
}

// large computers

@media(min-width:1920px){
  footer{
    padding:3rem 13vw;
  }
}

// tablets 

@media(min-width:700px) and (max-width:1024px)
{

}

// mobile devices

@media(min-width:281px) and (max-width:640px)
{
  footer{
    flex-direction: column;

    .container{
      flex-direction: column;
      align-items: center;
      width:100%;

      .logo{
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
          display: flex;
          justify-content: center;

          img{
            margin-right: 0px;
            margin-inline:.5rem;
          }
        }

        img{
          margin-bottom: 2rem;
        }
      }

      .list1{
        align-items: center;

        a{
          margin-bottom: .5rem;
        }
      }

      .list2{
        align-items: center;

        a{
          margin-bottom: .5rem;
        }
      }
    }

    .right{
      align-items: center;
      margin-top:.5rem;
    }
  }
}

// Galaxy fold

@media(max-width:280px)
{

}