#home {
  background: #f4f4f4;
  padding: 0rem 10vw;
  padding-right: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .container {
    min-height: calc(100vh - 72px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    

    .images{
      width:65%;
      min-height: calc(100vh - 72px);

      .mockups{
        z-index: 5000;
        height:100%;
        width:100%;

        img{
          width:50%;
          position:absolute;
          right:-125px;
          top:-125px;
          z-index: 500;
        }
      }
      
      .svg{
        position: absolute;
        bottom:-125px;
        right:-425px;
      }
    }

    .text {
      width:35%;
      h1{
        
        font-size: 55px;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }

      h3{
        margin-bottom: 1.5rem;
        font-weight: 400;
        color:grey;
        line-height: 30px;
      }

      button {
        background: linear-gradient(to left, $cyan , $green );
        border-radius: 50px;
        border: none;
        color: white;
        padding: .75rem 1.5rem;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

// tablets

@media(min-width:700px) and (max-width:1024px)
{

}

// mobile devices

@media(min-width:281px) and (max-width:640px)
{
  #home{
    .container{
      .images{
        .svg{
          display: none;
        }

        .mockups{
          display: none;
        }
      }
    }
  }
}

// Galaxy fold

@media(max-width:280px)
{

}