#about{
  min-height: 70vh;
  padding:5rem 10vw;
  background: white;

  h1{
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 2rem;
  }

  h3{
    font-size: 20px;
    font-weight: 400;
    color: gray;
    margin-bottom: 2rem;
  }

  .container{
    
  }
}